

$colors: (
    common: (
        white: #fff,
        black: #000,
    ),
    body: (
        heading: #121315,
        text: #415674,
        soft_bg: #f6f8fa,
    ),
    theme: (
        1: #ff5041,
        2: #42a66c,
        3: #16171b
    ),
)

